<div class="container animated fadeIn fast" [ngClass]="{'espacioLateral': _authService.checkSession()}">
  <div class="row">
    <div class="col s12 animated fadeIn fast center-align grey-text" *ngIf="buscando">
      <!-- <i class="mdi mdi-chart-donut mdi-spin mdi-48px"></i> -->
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12  card animated fadeIn fast" *ngIf="!buscando">
      <div class="card-content">
        <div class="col s12 m6 l4">
          <button class="btn waves-effect waves-light" (click)="modalAlta()">
            Dar de alta
            <i class="mdi mdi-account-plus left"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 card animated fadeIn" *ngIf="medicos && medicos.length > 0">
      <div class="card-content">
        <span class="card-title">Listado de médicos</span>

        <table class="striped highlight responsive-table">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Registro</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let med of medicos">
              <td>{{ med.MED_nombre }} {{ med.MED_aPaterno }} {{ med.MED_aMaterno }}</td>
              <td>{{ med.MED_especialidad }}</td>
              <td>{{ med.MED_fechaAlta | slice:0:10 | date:'dd/MMM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modalAlta" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-flat waves-effect" (click)="cancelaAlta()">Cierra</button>
  </div>
</div>
