<div class="container animated fadeIn fast" [ngClass]="{'espacioLateral': _authService.checkSession()}">
  <div class="row animated fadeIn fast" *ngIf="listadoPases.length > 0">
    <div class="col s12 m12 l12 card">
      <div class="card-content">
        <span class="card-title">Órdenes emitidas</span>

        <table class="striped highlight responsive-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Diagnóstico</th>
              <th>Terapias</th>
              <th>Estatus</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let pase of listadoPases">
              <td> {{ pase.PAS_nombre }} {{ pase.PAS_aPaterno }} {{ pase.PAS_aMaterno }} </td>
              <td> {{ pase.PAS_diagnostico }} </td>
              <td> {{ pase.PAS_tipoTerapia }} ({{ pase.PAS_catidadRehab }})</td>
              <td> {{ pase.PAS_atendido }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- cierra row -->
</div> <!-- cierra container -->
