<div class="container animated fadeIn fast" [ngClass]="{'espacioLateral': _authService.checkSession()}">

  <div class="row animated fadeIn fast">
    <div class="col s12 card" *ngIf="listadoPases.length > 0 && opciones">
        <a class="btn-flat waves-effect waves-red right red-text btn-sinEspacio" (click)="verOpciones()">Cerrar busqueda</a>
        <div class="card-content-min espacio-minimo">

          <!-- Filtrar resultados: -->
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <i class="mdi mdi-magnify prefix"></i>
              <input id="buscador" type="text" (keyup)='updateFilter($event)'>
              <label for="buscador">Buscar por nombre</label>
            </div>
            <!-- <div class="col s12 m3 l2 valign-wapper">
            <a class="btn-floating waves-effect waves-light"
               [ngClass]="{'light-green': !ver, 'purple': ver}"
               (click)="verMasDetalles()" data-position="bottom" data-tooltip="Ver mas detalles">
               <i class="mdi mdi-eye-plus animated fadeIn fast" *ngIf="!ver"></i>
               <i class="mdi mdi-eye-off animated fadeIn fast" *ngIf="ver"></i>
            </a>
            </div> -->
          </div>
        </div>
    </div>
  </div>

  <div class="row animated fadeIn fast espacio-minimo">
    <div class="col s12 card" >
      <a class="btn-floating waves-effect waves-light right tooltipped animated fadeIn fast red espacio-xs"
         (click)="verOpciones()"
         [hidden]="listadoPases.length < 1"
         [ngClass]="{'hide': buscando || opciones }"><i class="mdi mdi-table-search"></i>
       </a>
      <div class="card-content">
        <span class="card-title azul-text"><i class="mdi mdi-clipboard-check"></i>
          Órdenes recientes
          <!-- <a class="btn-floating waves-effect waves-light tooltipped"
             data-position="left" data-tooltip="I am a tooltip"
             [ngClass]="{'light-green verMas': !ver, 'purple verMenos': ver}"
             (click)="verMasDetalles()">
             <i class="mdi mdi-eye-plus animated fadeIn fast" *ngIf="!ver"></i>
             <i class="mdi mdi-eye-off animated fadeIn fast" *ngIf="ver"></i>
          </a> -->
          <a class="btn-floating waves-effect waves-light tooltipped light-green verMas"
             [hidden]="ver || listadoPases.length < 1"
             [ngClass]="{'hide': buscando}"
             (click)="verMasDetalles()">
             <!-- *ngIf="listadoPases.length > 0" -->
             <i class="mdi mdi-eye-plus animated fadeIn fast"></i>
          </a>
          <a class="btn-floating waves-effect waves-light tooltipped purple verMenos"
             [hidden]="!ver || listadoPases.length < 1"
             [ngClass]="{'hide': buscando}"
             (click)="verMasDetalles()">
             <!-- *ngIf="listadoPases.length > 0" -->
             <i class="mdi mdi-eye-off animated fadeIn fast"></i>
          </a>


        </span>
          <div *ngIf="listadoPases.length < 1" class="center-align blue-grey-text text-lighten-2">
            <i class="mdi mdi-alert-circle mdi-36px"></i>
            <br>
            No se han registrado órdenes.
          </div>
          <!-- <ngx-datatable #table class="material no-shadow seleccion" *ngIf="listadoPases.length > 0" -->
          <ngx-datatable #table class="material no-shadow seleccion" [hidden]="listadoPases.length < 1"
                          [rows]="rows"
                          columnMode="force"
                          [headerHeight]="50"
                          [footerHeight]="'auto'"
                          [rowHeight]="50"
                          [scrollbarH]="true"
                          [limit]="5"
                          [selected]="selected"
                          [selectionType]="'single'"
                          (select)='seleccion($event)'>
          <!-- <ngx-datatable-column prop="PAS_id" name="#" [width]="10"></ngx-datatable-column> -->
          <ngx-datatable-column prop="claveOrden" name="Orden">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column prop="PAS_catidadRehab" name="Sesiones" *ngIf="ver">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Cantidad de sesiones">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column prop="EAD_alias" name="E.A." [width]="10">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column prop="EAT_alias" name="E.R." [width]="10">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column prop="nombreCompleto" name="Nombre">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <!-- <ngx-datatable-column prop="cantidad_rehab" name="Bitácora"> -->
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          <!-- </ngx-datatable-column> -->

          <ngx-datatable-column prop="estatusDias" name="Antiguedad">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <!-- <ngx-datatable-column prop="infRehab_id" name="Informe" *ngIf="ver"> -->
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          <!-- </ngx-datatable-column> -->

          <ngx-datatable-column prop="fechaFacil" name="Emitido" *ngIf="ver">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column prop="PAS_diagnostico" name="Diagnóstico" *ngIf="ver">
            <!-- <ng-template let-column="column" ngx-datatable-header-template>
              <span class="tooltipped ayudas" data-position="bottom" data-tooltip="Folio de Orden">{{ column.name }}</span>
            </ng-template> -->
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div><!-- cierra row -->



  <!-- preloader -->
  <div class="row animated fadeIn fast center-align" *ngIf="buscando">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- cierra container -->

<!-- Modal detalle orden -->
<div id="modalDetalle" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h6><b>{{ datosPase.nombreCompleto }}</b></h6>
    <p>
      <span *ngIf="!datosPase.Exp_folio"><b>No se ha presentado en clínica</b></span>
      <span *ngIf="datosPase.Exp_folio">Atención: {{ datosPase.EAT_alias }} | Administración: {{ datosPase.EAD_alias }}</span>
      <span *ngIf="datosPase.listadoRehabilitaciones && datosPase.listadoRehabilitaciones.sesiones.length > 0">| {{datosPase.listadoRehabilitaciones.sesiones.length}} Sesiones tomadas</span>
    </p>

    <div class="row">
      <div class="col s12 m4 l3 espacio center-align" *ngIf="buscandoRh">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <ul class="collapsible popout">
          <!-- aqui van los reportes de rehabilitacion -->
          <li>
            <div class="collapsible-header valign-wrapper grey-text text-darken-2">
              <i class="mdi mdi-folder-account"></i>
              Sesiones de rehabilitación
              <span *ngIf="datosPase.cantidad_rehab < 1">&nbsp;(No se ha presentado)</span>
            </div>
            <div class="collapsible-body">
              <div class="row">
                <div *ngIf="datosPase.listadoRehabilitaciones">
                  <div class="col s12 m4 l3 espacio" *ngFor="let sesion of datosPase.listadoRehabilitaciones.sesiones">
                    <a href="http://medicavial.net/mvnuevo/api/classes/formatoRehabilitacionReimpresion.php?fol={{ sesion.Exp_folio }}&cont={{ sesion.Rehab_cons }}"
                      target="_blank" class="btn btn-block waves-effect waves-light"
                      [ngClass]="{'light-blue darken-4': sesion.Rehab_cons %5 == 0, 'light-blue darken-4': sesion.Rehab_cons %5 != 0}">
                      <i class="mdi mdi-cloud-print"></i>
                      Sesión {{ sesion.Rehab_cons }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li> <!-- terminan los reportes de rehabilitacion -->

          <!-- aqui va la bitacora -->
          <li>
            <div class="collapsible-header valign-wrapper grey-text text-darken-2">
              <i class="mdi mdi-clipboard-account"></i>
              Bitácora
              <span *ngIf="datosPase.cantidad_rehab < 1">&nbsp;(No se ha presentado)</span>
            </div>
            <div class="collapsible-body">
              <div class="row" *ngIf="datosPase.listadoRehabilitaciones">
                <p *ngFor="let sesion of datosPase.listadoRehabilitaciones.sesiones">
                  <b>Sesión #{{ sesion.Rehab_cons }} ({{ sesion.Rehab_fecha | date:'dd/MMM/yy' }}
                    {{ sesion.Rehab_fecha | slice:11:16 }}) :</b> {{ sesion.Rehab_obs }}
                </p>
              </div>
            </div>
          </li> <!-- termina la bitacora -->

          <!-- aqui va la el informe de rehabilitacion -->
          <li>
            <div class="collapsible-header valign-wrapper grey-text text-darken-2" *ngIf="datosPase">
              <i class="mdi mdi-comment-account"></i>
              Informe de Rehabilitación
              <span *ngIf="!datosPase.infRehab_id">&nbsp;(No hay informe)</span>
            </div>
            <div class="collapsible-body">
              <div class="row" *ngIf="datosPase.listadoRehabilitaciones && datosPase.listadoRehabilitaciones.informe">
                <div class="col s12" *ngFor="let informe of datosPase.listadoRehabilitaciones.informe">
                  <p><b>Diagnóstico Inicial:</b> {{ informe.infRehab_DiagnosticoInicial }}</p>
                  <p><b>Valoración Inicial:</b> {{ informe.infRehab_valoracionInicial }}</p>
                  <p><b>Valoración Final:</b> {{ informe.infRehab_valoracionFinal }}</p>
                  <p><b>Tratamiento:</b> {{ informe.infRehab_tratamientoRehab }}</p>
                  <a href="http://medicavial.net/mvnuevo/api/classes/imprimeNotaDeRehabilitacion.php?fol={{ informe.Exp_folio }}&nota={{ informe.infRehab_id }}"
                    target="_blank" class="btn waves-effect waves-light blue" *ngIf="informe.infRehab_id">
                    <i class="mdi mdi-printer"></i>
                    Imprimir Informe
                  </a>
                </div>
              </div>
            </div>
          </li> <!-- termina la el informe de rehabilitacion -->

        </ul>
      </div> <!-- termina col s12 -->

    </div>

  </div>
  <div class="modal-footer">
    <a href="http://busqueda.medicavial.net/api/externos/verpdf-{{ datosPase.claveOrden }}" 
      target="_blank"
      class="btn waves-effect azul-mv">
      Reimprimir Orden
    </a>
    <button type="button" class="waves-effect waves-light btn grey" (click)="cerrarModal()">Cancelar</button>
  </div>
</div>
