<div class="container animated fadeIn fast" [ngClass]="{'espacioLateral': _authService.checkSession()}">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <form [formGroup]="paseForm" (ngSubmit)="generarPase()" autocomplete="off" novalidate>
          <div class="card-content">
            <p class="card-title azul-text"><i class="mdi mdi-clipboard-account"></i> Datos del paciente</p>

            <div class="row">

              <!-- <div class="input-field col s12 m4">
                <i class="mdi mdi-phone prefix"
                   [ngClass]="{'red-text': !formReg.controls['telFijo'].valid && formReg.controls['telFijo'].dirty && !formReg.controls['telFijo'].pristine, 'green-text text-darken-2':formReg.controls['telFijo'].valid }">
                </i>
                <input id="tel" type="tel"
                       formControlName="telFijo"
                       [ngClass]="{'invalid': !formReg.controls['telFijo'].valid && formReg.controls['telFijo'].dirty && !formReg.controls['telFijo'].pristine, 'valid':formReg.controls['telFijo'].valid}">
                <label for="tel">Teléfono Fijo</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!formReg.controls['telFijo'].valid && formReg.controls['telFijo'].dirty && !formReg.controls['telFijo'].pristine">
                  Deben ser 10 dígitos
                </span>
              </div> -->


              <div class="input-field col s12 m4">
                <i class="mdi mdi-account prefix"
                   [ngClass]="{'red-text': !paseForm.controls['nombre'].valid && paseForm.controls['nombre'].dirty && !paseForm.controls['nombre'].pristine, 'green-text text-darken-2':paseForm.controls['nombre'].valid }">
                </i>
                <input id="nombre" type="text" class="mayusculas"
                       formControlName="nombre"
                       [ngClass]="{'invalid': !paseForm.controls['nombre'].valid && paseForm.controls['nombre'].dirty && !paseForm.controls['nombre'].pristine, 'valid':paseForm.controls['nombre'].valid}">
                <label for="nombre">Nombre(s)</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['nombre'].valid && paseForm.controls['nombre'].dirty && !paseForm.controls['nombre'].pristine">
                  Dato invalido
                </span>
              </div>

              <div class="input-field col s12 m4">
                <i class="mdi mdi-account-multiple prefix"
                   [ngClass]="{'red-text': !paseForm.controls['aPaterno'].valid && paseForm.controls['aPaterno'].dirty && !paseForm.controls['aPaterno'].pristine, 'green-text text-darken-2':paseForm.controls['aPaterno'].valid }">
                </i>
                <input id="paterno" type="text" class="mayusculas"
                       formControlName="aPaterno"
                       [ngClass]="{'invalid': !paseForm.controls['aPaterno'].valid && paseForm.controls['aPaterno'].dirty && !paseForm.controls['aPaterno'].pristine, 'valid':paseForm.controls['aPaterno'].valid}">
                <label for="paterno">Apellido Paterno</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['aPaterno'].valid && paseForm.controls['aPaterno'].dirty && !paseForm.controls['aPaterno'].pristine">
                  Dato invalido
                </span>
              </div>

              <div class="input-field col s12 m4">
                <i class="mdi mdi-account-multiple prefix"
                   [ngClass]="{'red-text': !paseForm.controls['aMaterno'].valid && paseForm.controls['aMaterno'].dirty && !paseForm.controls['aMaterno'].pristine, 'green-text text-darken-2':paseForm.controls['aMaterno'].valid && !paseForm.controls['aMaterno'].pristine}">
                </i>
                <input id="materno" type="text" class="mayusculas"
                       formControlName="aMaterno"
                       [ngClass]="{'invalid': !paseForm.controls['aMaterno'].valid && paseForm.controls['aMaterno'].dirty && !paseForm.controls['aMaterno'].pristine, 'valid':paseForm.controls['aMaterno'].valid && paseForm.controls['aMaterno'].dirty && !paseForm.controls['aMaterno'].pristine}">
                <label for="materno">Apellido Materno</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['aMaterno'].valid && paseForm.controls['aMaterno'].dirty && !paseForm.controls['aMaterno'].pristine">
                  Dato invalido
                </span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m4">
                <i class="mdi mdi-calendar-check prefix"
                   [ngClass]="{'red-text': !paseForm.controls['fechaNacimiento'].valid && paseForm.controls['fechaNacimiento'].dirty && !paseForm.controls['fechaNacimiento'].pristine, 'green-text text-darken-2':paseForm.controls['fechaNacimiento'].valid}">
                </i>
                <input id="fechanac" type="text" class="datepicker"
                       (change)="fechaNac($event)"
                       (focus)="abrePicker()"
                       [ngClass]="{'valid':paseForm.controls['fechaNacimiento'].valid}">
                <label for="fechanac">Fecha de nacimiento</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['fechaNacimiento'].valid && paseForm.controls['fechaNacimiento'].dirty && !paseForm.controls['fechaNacimiento'].pristine">
                  Este dato es requerido
                </span>
              </div>

              <div class="input-field col s12 m4">
                <span>Sexo:</span>
                <p>
                  <label>
                    <input name="sexo" type="radio" class="with-gap valido" value="M" formControlName="sexo"/>
                    <span [ngClass]="{'green-text bold': paseForm.controls['sexo'].value === 'M'}">Masculino</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="sexo" type="radio" class="with-gap valido" value="F" formControlName="sexo"/>
                    <span [ngClass]="{'green-text bold': paseForm.controls['sexo'].value === 'F'}">Femenino</span>
                  </label>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m6">
                <i class="mdi mdi-phone prefix"
                   [ngClass]="{'red-text': !paseForm.controls['telefono'].valid && paseForm.controls['telefono'].dirty && !paseForm.controls['telefono'].pristine, 'green-text text-darken-2':paseForm.controls['telefono'].valid && !paseForm.controls['telefono'].pristine }">
                </i>
                <input id="tel" type="tel" class="validate" formControlName="telefono" pattern="\d*"
                       [ngClass]="{'invalid': !paseForm.controls['telefono'].valid && paseForm.controls['telefono'].dirty && !paseForm.controls['telefono'].pristine, 'valid':paseForm.controls['telefono'].valid && !paseForm.controls['telefono'].pristine}">
                <label for="tel">Teléfono</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['telefono'].valid && paseForm.controls['telefono'].dirty && !paseForm.controls['telefono'].pristine">
                  Deben ser 10 dígitos
                </span>
              </div>

              <div class="input-field col s12 m6">
                <i class="mdi mdi-email prefix"
                   [ngClass]="{'red-text': !paseForm.controls['email'].valid && paseForm.controls['email'].dirty && !paseForm.controls['email'].pristine, 'green-text text-darken-2':paseForm.controls['email'].valid && !paseForm.controls['email'].pristine }">
                </i>
                <input id="email" type="email" class="validate" formControlName="email"
                       [required]="paseForm.controls['mailPaciente'].value"
                       (keyup)="cambioMail($event)"
                       [ngClass]="{'invalid': !paseForm.controls['email'].valid && paseForm.controls['email'].dirty && !paseForm.controls['email'].pristine }">
                <label for="email">Email</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['email'].valid && paseForm.controls['email'].dirty && !paseForm.controls['email'].pristine">
                  Correo invalido
                </span>
              </div>
            </div>

            <div class="divider"></div>
            <div class="espacio"></div>
            <div class="row">
              <div class="col s12">
                <p class="card-title azul-text"><i class="mdi mdi-clipboard-pulse"></i> Datos de atención</p>
              </div>
            </div>

            <div class="row" *ngIf="usuario.TIU_id === 3 || usuario.TIU_id === 1">
              <div class="col s12">
                <p>Servicio requerido para el paciente</p>
              </div>

              <div class="col s12 m4 espacio">
                <label>
                  <input name="servicio" class="with-gap valido" type="radio" value="SC" formControlName="servicio" [required]="usuario.TIU_id === 1 || usuario.TIU_id === 3"/>
                  <span [ngClass]="{'green-text bold': paseForm.controls['servicio'].value === 'SC'}">Sólo consulta</span>
                </label>
              </div>

              <div class="col s12 m4 espacio">
                <label>
                  <input name="servicio" class="with-gap valido" type="radio" value="SR" formControlName="servicio" [required]="usuario.TIU_id === 1 || usuario.TIU_id === 3"/>
                  <span [ngClass]="{'green-text bold': paseForm.controls['servicio'].value === 'SR'}">Sólo rehabilitación</span>
                </label>
              </div>

              <div class="col s12 m4 espacio">
                <label>
                  <input name="servicio" class="with-gap valido" type="radio" value="CR" formControlName="servicio" [required]="usuario.TIU_id === 1 || usuario.TIU_id === 3"/>
                  <span [ngClass]="{'green-text bold': paseForm.controls['servicio'].value === 'CR'}">Consulta y Rehabilitación</span>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="mdi mdi-clipboard-text prefix"
                   [ngClass]="{'red-text': !paseForm.controls['diagnostico'].valid && paseForm.controls['diagnostico'].dirty && !paseForm.controls['diagnostico'].pristine, 'green-text text-darken-2':paseForm.controls['diagnostico'].valid }">
                </i>
                <textarea id="diagnostico" class="mayusculas materialize-textarea" formControlName="diagnostico"
                          [ngClass]="{'invalid': !paseForm.controls['diagnostico'].valid && paseForm.controls['diagnostico'].dirty && !paseForm.controls['diagnostico'].pristine, 'valid':paseForm.controls['diagnostico'].valid}">
                </textarea>
                <label for="diagnostico">Diagnóstico</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['diagnostico'].valid && paseForm.controls['diagnostico'].dirty && !paseForm.controls['diagnostico'].pristine">
                  Muy corto
                </span>
              </div>

              <div class="input-field col s12">
                <i class="mdi mdi-clipboard-check prefix"
                   [ngClass]="{'red-text': !paseForm.controls['objetivo'].valid && paseForm.controls['objetivo'].dirty && !paseForm.controls['objetivo'].pristine, 'green-text text-darken-2':paseForm.controls['objetivo'].valid }">
                </i>
                <textarea id="objetivo" class="mayusculas materialize-textarea" formControlName="objetivo"
                          [ngClass]="{'invalid': !paseForm.controls['objetivo'].valid && paseForm.controls['objetivo'].dirty && !paseForm.controls['objetivo'].pristine, 'valid':paseForm.controls['objetivo'].valid}">
                </textarea>
                <label for="objetivo">Objetivo de la terapia</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['objetivo'].valid && paseForm.controls['objetivo'].dirty && !paseForm.controls['objetivo'].pristine">
                  Muy corto
                </span>
              </div>

              <div class="input-field col s12 m4">
                <i class="mdi mdi-calendar-range prefix"
                   [ngClass]="{'red-text': !paseForm.controls['sesiones'].valid && paseForm.controls['sesiones'].dirty && !paseForm.controls['sesiones'].pristine, 'green-text text-darken-2': paseForm.controls['sesiones'].valid && !paseForm.controls['sesiones'].pristine }">
                </i>
                <input id="cantidad" type="number" class="validate" formControlName="sesiones" min="5" max="99" pattern="\d*" step="5"
                       [ngClass]="{'invalid': !paseForm.controls['sesiones'].valid && paseForm.controls['sesiones'].dirty && paseForm.controls['sesiones'].touched && !paseForm.controls['sesiones'].pristine, 'valid':paseForm.controls['sesiones'].valid && !paseForm.controls['sesiones'].pristine}">
                <label for="cantidad"># Sesiones a tomar</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['sesiones'].valid && paseForm.controls['sesiones'].dirty && !paseForm.controls['sesiones'].pristine">
                  Inválido
                </span>
              </div>

              <div class="input-field col s12 m8">
                <i class="mdi mdi-message-bulleted prefix"
                   [ngClass]="{'red-text': !paseForm.controls['tipoTerapia'].valid && paseForm.controls['tipoTerapia'].dirty && !paseForm.controls['tipoTerapia'].pristine, 'green-text text-darken-2':paseForm.controls['tipoTerapia'].valid }">
                </i>
                <textarea id="tipoTerapia" class="mayusculas materialize-textarea validate" formControlName="tipoTerapia"
                          [ngClass]="{'invalid': !paseForm.controls['tipoTerapia'].valid && paseForm.controls['tipoTerapia'].dirty && paseForm.controls['tipoTerapia'].touched && !paseForm.controls['tipoTerapia'].pristine, 'valid':paseForm.controls['tipoTerapia'].valid && !paseForm.controls['tipoTerapia'].pristine}">
                </textarea>
                <label for="tipoTerapia">Tipo de terapia</label>
                <span class="helper-text red-text animated fadeIn fast" data-success="right"
                     *ngIf="!paseForm.controls['tipoTerapia'].valid && paseForm.controls['tipoTerapia'].dirty && !paseForm.controls['tipoTerapia'].pristine">
                  Muy corto
                </span>
              </div>
            </div>

            <div class="divider"></div>

            <div class="espacio"></div>
            <div class="row">
              <div class="col s12">
                <p class="card-title azul-text"><i class="mdi mdi-hospital-marker"></i> Direccionamiento</p>
                <p>
                  <i class="mdi mdi-information-outline"></i>
                  Favor de indicar la unidad de atención preferida por el paciente.
                  De cualquier manera, el paciente puede presentar la órden en cualquiera las clínicas Médica Vial.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col s12 m4">
                <button type="button" class="btn-block btn azul-mv white-text seleccion waves-effect waves-light black-text"
                        [ngClass]="{ 'yellow darken-2': locales && paseForm.controls['unidad'].value != 0 }"
                        (click)="uniLocal(true)">
                  CDMX (Valle de México)
                </button>
              </div>

              <div class="col s12 m4">
                <button type="button" class="btn-block btn azul-mv white-text seleccion waves-effect waves-light black-text"
                        [ngClass]="{ 'yellow darken-2': !locales && paseForm.controls['unidad'].value != 0 }"
                        (click)="uniLocal(false)">
                  Interior de la república
                </button>
              </div>

              <div class="col s12 m4">
                <button type="button" class="btn-block btn azul-mv white-text seleccion waves-effect waves-light black-text"
                        [ngClass]="{ 'yellow darken-2': paseForm.controls['unidad'].value === 0}"
                        (click)="selectUnidad(0, false)">
                  Cualquier Unidad MV
                  <i class="mdi mdi-checkbox-marked-circle-outline" *ngIf="paseForm.controls['unidad'].value === 0"></i>
                </button>
              </div>
            </div>

            <div class="row" *ngIf="paseForm.controls['unidad'].value === null || paseForm.controls['unidad'].value > 0">
              <div class="col s12">
                <div *ngIf="locales != undefined && unidades.length > 0">
                  <div class="animated fadeIn fast" *ngIf="locales">
                    <div *ngFor="let unidad of unidades">
                      <div class="col s12 m6" *ngIf="unidad.local">
                        <!-- Tarjeta tablet y desktop -->
                        <div class="card xsmall show-on-medium-and-up hide-on-small-only waves-effect waves-light seleccion"
                             (click)="selectUnidad(unidad.Uni_clave, false)"
                             [ngClass]="{'azul-mv': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                          <div class="card-image valign-wrapper">
                            <img  src="{{ unidad.img.src }}">
                          </div>
                          <div class="card-content">
                            <div class="col s9">
                              <h6 [ngClass]="{'white-text': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                                {{ unidad.Uni_nombrecorto }}
                                <i class="mdi mdi-checkbox-marked-circle-outline"
                                   *ngIf="paseForm.controls['unidad'].value === unidad.Uni_clave"></i>
                              </h6>
                            </div>

                            <div class="col s3 espacio-xs right-align">
                              <a class="btn-floating waves-effect waves-light red" (click)="selectUnidad(unidad.Uni_clave, true)">
                                <i class="mdi mdi-google-maps"></i>
                              </a>
                            </div>
                          </div>
                        </div>

                        <!-- Tarjeta en movil -->
                        <div class="card show-on-small hide-on-med-and-up waves-effect waves-light seleccion"
                             (click)="selectUnidad(unidad.Uni_clave, false)"
                             [ngClass]="{'azul-mv': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                          <div class="card-content valign-wrapper card-mobile">
                            <div class="col s9">
                              <p [ngClass]="{'white-text': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                                {{ unidad.Uni_nombrecorto }}
                                <i class="mdi mdi-checkbox-marked-circle-outline"
                                   *ngIf="paseForm.controls['unidad'].value === unidad.Uni_clave"></i>
                              </p>
                            </div>

                            <div class="col s3">
                                <a class="btn-floating waves-effect waves-light red" (click)="selectUnidad(unidad.Uni_clave, true)">
                                  <i class="mdi mdi-google-maps"></i>
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="animated fadeIn fast" *ngIf="!locales">
                    <div *ngFor="let unidad of unidades">
                      <div class="col s12 m4" *ngIf="!unidad.local">
                        <!-- Tarjeta tablet y desktop -->
                        <div class="card xsmall waves-effect waves-light seleccion show-on-medium-and-up hide-on-small-only"
                             (click)="selectUnidad(unidad.Uni_clave, false)"
                             [ngClass]="{'azul-mv': paseForm.controls['unidad'].value === unidad.Uni_clave }">
                          <div class="card-image valign-wrapper">
                            <img src="../../assets/img/clinicas/{{unidad.Uni_clave}}.jpg">
                          </div>
                          <div class="card-content">
                            <div class="col s9">
                              <h6 [ngClass]="{'white-text': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                                {{ unidad.Uni_nombrecorto }}
                                <i class="mdi mdi-checkbox-marked-circle-outline"
                                   *ngIf="paseForm.controls['unidad'].value === unidad.Uni_clave"></i>
                              </h6>
                            </div>

                            <div class="col s3 espacio-xs right-align">
                              <a class="btn-floating waves-effect waves-light red" (click)="selectUnidad(unidad.Uni_clave, true)">
                                <i class="mdi mdi-google-maps"></i>
                              </a>
                            </div>
                          </div>
                        </div>

                        <!-- Tarjeta en movil -->
                        <div class="card show-on-small hide-on-med-and-up waves-effect waves-light seleccion"
                             (click)="selectUnidad(unidad.Uni_clave, false)"
                             [ngClass]="{'azul-mv': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                          <div class="card-content valign-wrapper card-mobile">
                            <div class="col s9">
                              <p [ngClass]="{'white-text': paseForm.controls['unidad'].value === unidad.Uni_clave}">
                                {{ unidad.Uni_nombrecorto }}
                                <i class="mdi mdi-checkbox-marked-circle-outline"
                                   *ngIf="paseForm.controls['unidad'].value === unidad.Uni_clave"></i>
                              </p>
                            </div>

                            <div class="col s3">
                                <a class="btn-floating waves-effect waves-light red" (click)="selectUnidad(unidad.Uni_clave, true)">
                                  <i class="mdi mdi-google-maps"></i>
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 espacio">
                <span *ngIf="paseForm.controls['unidad'].value === null"><i class="mdi mdi-alert red-text"></i> No has elegido ninguna unidad.</span>
                <span *ngIf="paseForm.controls['unidad'].value > 0"><i class="mdi mdi-information blue-text"></i> Seleccionaste {{ datosUni.Uni_nombre }}.</span>
                <span *ngIf="paseForm.controls['unidad'].value === 0 "><i class="mdi mdi-information blue-text"></i> Seleccionaste Cualquier Unidad.</span>
              </div>
            </div>

            <div class="row" *ngIf="paseForm.controls['unidad'].value != null">
            <!-- <div class="row"> -->
              <div class="col s12 espacio">
                <!-- <div>
                  <label class="right-align">
                    <input type="checkbox" class="filled-in" formControlName="imprimeOrden" />
                    <span><i class="mdi mdi-printer"></i> Imprimir orden</span>
                  </label>
                </div> -->

                <div class="col s12 espacio">
                  <p>¿Deseas enviar Órden de Rehabilitación al email del paciente?</p>
                  <p>
                    <label>
                      <input class="with-gap valido" name="mailPaciente" type="radio" [value]="false" formControlName="mailPaciente" />
                      <span [ngClass]="{'green-text bold': !paseForm.controls['mailPaciente'].value}">NO</span>
                    </label>
                  </p>

                  <p>
                    <label>
                      <input class="with-gap valido" name="mailPaciente" type="radio" [value]="true" formControlName="mailPaciente" />
                      <span [ngClass]="{'green-text bold': paseForm.controls['mailPaciente'].value}">SI</span>
                    </label>
                  </p>

                  <div class="input-field col s12 m6 l4" [hidden]="!paseForm.controls['mailPaciente'].value">
                    <i class="mdi mdi-contact-mail prefix"
                       [ngClass]="{'red-text': !paseForm.controls['email'].valid && paseForm.controls['email'].dirty && !paseForm.controls['email'].pristine, 'green-text text-darken-2':paseForm.controls['email'].valid }">
                    </i>

                    <input id="email_inline" type="email"
                           [(ngModel)]="cambiosEmail" [ngModelOptions]="{standalone: true}"
                           (keyup)="cambioMail2($event)"
                           [disabled]="!paseForm.controls['mailPaciente'].value"
                           [ngClass]="{'invalid': !paseForm.controls['email'].valid && paseForm.controls['email'].dirty && !paseForm.controls['email'].pristine, 'valid':paseForm.controls['email'].valid}">
                    <label for="email_inline">Email del paciente</label>
                    <span class="helper-text red-text animated fadeIn fast" data-success="right"
                         *ngIf="!paseForm.controls['email'].valid && paseForm.controls['email'].dirty && !paseForm.controls['email'].pristine">
                      Correo Inválido
                    </span>
                  </div>
                </div>

                <div class="col s12 espacio">
                  <p>¿Deseas recibir en <span class="azul-text">{{ usuario.USU_email }}</span> esta Orden de Rehabilitación?</p>
                  <p>
                    <label>
                      <input class="with-gap valido" name="copiaOrden" type="radio" [value]="false" formControlName="copiaOrden" />
                      <span [ngClass]="{'green-text bold': !paseForm.controls['copiaOrden'].value}">NO</span>
                    </label>
                  </p>

                  <p>
                    <label>
                      <input class="with-gap valido" name="copiaOrden" type="radio" [value]="true" formControlName="copiaOrden" />
                      <span [ngClass]="{'green-text bold': paseForm.controls['copiaOrden'].value}">SI</span>
                    </label>
                  </p>
                </div>

                <!-- <div>
                  <label class="right-align">
                    <input type="checkbox" class="filled-in" formControlName="mailPaciente"/>
                    <span><i class="mdi mdi-email"></i> Enviar al paciente: </span>
                  </label>

                  <div class="input-field inline">
                    <input id="email_inline" type="email" class="validate"
                           [(ngModel)]="cambiosEmail" [ngModelOptions]="{standalone: true}"
                           (keyup)="cambioMail($event)"
                           [disabled]="!paseForm.controls['mailPaciente'].value">
                    <label for="email_inline">Email</label>
                  </div>
                </div> -->

                <!-- <div>
                  <label class="right-align">
                    <input type="checkbox" class="filled-in" formControlName="copiaOrden" (change)="activaMailUsr($event)"/>
                    <span><i class="mdi mdi-email"></i> Enviar a mi email: </span>
                  </label>

                  <div class="input-field inline">
                    <input id="mailMedicoC" type="email" class="validate" formControlName="mailUsuario">
                    <label for="mailMedicoC">Email</label>
                  </div>
                </div> -->

              </div>
            </div>
          </div>
          <div class="card-action right-align">
            <p class="red-text text-darken-2" *ngIf="!paseForm.controls['copiaOrden'].value && !paseForm.controls['mailPaciente'].value">
              <i class="mdi mdi-alert"></i> El pase no será enviado al paciente ni a {{ usuario.USU_email }}
            </p>

            <button type="button" class="btn-flat waves-effect waves-orange orange-text"
                    (click)="limpiarCampos()"
                    [ngClass]="{'disabled': trabajando }">
              Limpiar datos
            </button>
            <button type="submit" class="btn green waves-effect waves-light"
                    [ngClass]="{'disabled': !paseForm.valid || trabajando}">
                               <!-- ( !paseForm.controls['mailPaciente'].value && !paseForm.controls['copiaOrden'].value ) -->
              <span *ngIf="trabajando"><i class="mdi mdi-loading mdi-spin"></i></span>
              <span *ngIf="!trabajando"> Emitir Órden </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="confirmacion" class="modal modal-fixed-footer">
  <div class="modal-content center-align">
    <h4>Registrado Correctamente</h4>

    <div *ngIf="respuestaOrden.info">
      <p>
        <i class="mdi mdi-check-circle mdi-48px light-green-text text-lighten-3"></i>
      </p>
      Generaste orden para
      <b>{{ respuestaOrden.info[0].PAS_nombre }} {{ respuestaOrden.info[0].PAS_aPaterno }} {{ respuestaOrden.info[0].PAS_aMaterno }}</b>
      para tomar <b>{{ respuestaOrden.info[0].PAS_catidadRehab }} sesiones de rehabilitación</b>
      con el objetivo de <b>{{ respuestaOrden.info[0].PAS_servicio }}</b>
      direccionada a
      <span *ngIf="respuestaOrden.info[0].UNI_clave>0"> <b>{{ respuestaOrden.info[0].Uni_nombre }}</b>. </span>
      <span *ngIf="respuestaOrden.info[0].UNI_clave === 0"> <b> cualquier unidad Médica Vial</b>. </span>

      <p>{{ respuestaOrden.mensaje }}</p>

      <p *ngIf="respuestaOrden.info">
        <a href="http://busqueda.medicavial.net/api/externos/verpdf-{{ respuestaOrden.info[0].claveOrden }}" target="_blank">
          Imprimir Orden
        </a>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="http://busqueda.medicavial.net/api/externos/verpdf-{{ respuestaOrden.info[0].claveOrden }}" target="_blank"
       class="waves-effect waves-blue btn-flat"
       *ngIf="respuestaOrden.info">
       Imprimir Orden
    </a>
    <a [routerLink]="['/inicio']" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>

<!-- Modal Unidad -->
<div id="mdlUnidad" class="modal modal-fixed-footer">
  <div class="modal-content center-align">
    <h4>{{ datosUni.Uni_nombre }}</h4>

    <p>
      {{ datosUni.Uni_calleNum }}, {{ datosUni.Uni_colMun }}. {{ datosUni.Uni_estado }}
      <br>
      <span *ngIf="datosUni.Uni_tel">Teléfono: {{ datosUni.Uni_tel }}</span>
      <span *ngIf="datosUni.Uni_contacto1">| Email: {{ datosUni.Uni_contacto1 }}</span>
      <br>
      Click en el mapa para visualizar en Google Maps.
    </p>
<!-- https://www.google.com/maps/?q=-15.623037,18.388672 -->
    <!-- <a [href]="datosUni.map | domseguro:'https://www.google.com/maps/embed/v1/place?key=AIzaSyB9gOLIqI5WKpfBy-UEUkOHTRsouH3016A&q='"
       target="_blank" class="tooltipped" (click)="cierrtaTooltip()"> -->
     <a [href]="datosUni.map | domseguro:'https://www.google.com/maps/?q='"
        target="_blank" class="tooltipped" (click)="cierrtaTooltip()">
      <img src="{{ datosUni.imgMap.src }}" alt="Ubicación de {{ datosUni.Uni_nombre }}" *ngIf="datosUni.imgMap" class="responsive-img">
    </a>
<!-- <a class="btn tooltipped" data-position="top" data-tooltip="Click para abrir en Google Maps">Hover me!</a> -->
    <!-- <iframe
      width="600" 
      height="300"
      frameborder="0" style="border:0"
      [src]="datosUni.map | domseguro:'https://www.google.com/maps/embed/v1/place?key=AIzaSyB9gOLIqI5WKpfBy-UEUkOHTRsouH3016A&q='"
      allowfullscreen
      *ngIf="unidades.length>0">
    </iframe> -->
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="cancelaUnidad()">Cerrar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="cierrtaTooltip()">Elegir</a>
  </div>
</div>
