<div class="container animated fadeIn fast" [ngClass]="{'espacioLateral': _authService.checkSession()}">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <form [formGroup]="credenciales" (ngSubmit)="enviaCredenciales()">
            <div class="card-content azul-mv center-align">
                <img src="assets/img/logos/logo.png" class="responsive-img" style="height: 50px">
            </div>
            <div class="card-content">
              <p>Ingresa con tu Usuario y Contraseña.</p>

              <div class="espacio"></div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi mdi-account prefix"></i>
                  <input type="text" id="username" class="validate" formControlName="username">
                  <label for="username">Nombre de usuario</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="mdi mdi-key-variant prefix"></i>
                  <input type="password" id="pwd" class="validate" formControlName="password">
                  <label for="pwd">Contraseña</label>
                </div>
              </div>

              <div class="row">
                <div class="col s12 center-align">
                  <small>
                    <label>
                      <input type="checkbox" class="filled-in" formControlName="remember"/>
                      <span>Manterner sesion abierta.</span>
                    </label>
                  </small>
                </div>
              </div>

              <div class="row">
                <div class="col s12 center-align">
                  <button type="success" class="btn waves-effect waves-light green col s12 m10 offset-m1 l8 offset-l2"
                          [disabled]="!credenciales.valid || trabajando">
                    <span *ngIf="!trabajando">Ingresar</span>
                    <span *ngIf="trabajando"><i class="mdi mdi-loading mdi-spin"></i></span>
                  </button>
                </div>
              </div> <!-- end row -->
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
